
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align:center">
    <div class="img-success" style="width:100%;height:auto;margin-top:20px">
        <img src="~/assets/client/images/success1.jpg" />
    </div>
</div>

